.Input2 {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Input2 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    max-width: 600px;
}

.Input2 form h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #FFCCAC;
    color: white;
    border-bottom:1px solid black;
    height: 40px;
    max-width: 600px;
    letter-spacing: 0.1rem;
    min-width: 500px;
}

.Input2__textarea {
    position: relative;
}

.Input2__textarea textarea {
    height: 180px;
    border: none;
    border: 2px solid #C1E1DC;
    padding: 1rem;
    margin: 2rem 0 0 0;
    font-size: 17px;
    min-width: 450px;
    resize: none;
}

.Input2__textarea--charscount {
    position: absolute;
    right: 0.5rem;
    bottom: 1rem;
    font-size: 16px;
    color: #D1D1D1;
}

.login-box form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.Input2 button {
    margin-top: 2rem;
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #FFCCAC;
    display: flex;
    transition: all 0.4s ease 0s;
    font-size: 20px;
    font-weight: 700;
    margin: 2rem;
}

.Input2 button:hover {
color: #ffffff;
background: #679b9b;
border-color: #679b9b;
transition: all 0.4s ease 0s;
} 

.Share {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.Share .Share__Button {
    display: flex;
    flex-direction: row;
}

.Share h1 {
    font-weight: 700;
    color: black; 
    margin: 0 5px 24px;
    float: left; 
    padding: 10px; 
    margin: 0 5px 24px; 
    font-size: 38px;
    text-align: center;
}

.Share a {
    text-decoration: none;
    color:black;
}

.Share a:hover {
    text-decoration: none;
    color:white;
}

.Share button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-size: 20px;
    font-weight: 700;
    margin: 2rem;
}

.Share button:hover {
color: #ffffff;
background: #679b9b;
border-color: #679b9b;
transition: all 0.4s ease 0s;
}
