.Footer {
    background-color: #aacfcf;
    height: 60px;
    margin-bottom: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: bottom;
    color: white;
    text-align: center;
    display:flex;


}

.Footer p {
    width:100%;
    color: white;
    font-size: 20px;
    text-align: center;
}