.login-box {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    width: 450px;
    background-color: #679b9b;
    color: white;
    border:1px solid black;
}

.login-box h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    width: 225px;
    margin-left: 112.5px;
    background-color: white;
    color: #679b9b;
    border:1px solid #679b9b;
}

.login-box a {
    text-decoration: none;
}


.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
}

.login-box input {
    width: 450px;
    height: 40px;
    border: 2px solid grey;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 10px;
}

.login-box input[type="text"]:focus {
    box-shadow: 0 0 5px #679b9b;
    padding: 0.5%;
	border: 2px solid #679b9b;
}

.login-box textarea {
    margin-top: 40px;
    width: 440px;
    height: 100px;
    border: 2px solid grey;
}

.login-box textarea[type="text"]:focus {
    box-shadow: 0 0 5px #679b9b;
    padding: 0.5%;
    border: 2px solid #679b9b;
}

.login-box .btn {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    display: flex;
    transition: all 0.4s ease 0s;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-weight: 700;
    margin: 1rem;
}

.login-box .btn:hover {
color: #ffffff;
background: #679b9b;
border-color: #679b9b;
transition: all 0.4s ease 0s;
} 

.Loged {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.Loged h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: black; 
    margin: 0 5px 24px;
    float: left; 
    padding: 10px; 
    margin: 0 5px 24px; 
    font-size: 38px;
    text-align: center;
}

.Loged a {
    text-decoration: none;
    color:black;
}

.Loged a:hover {
    text-decoration: none;
    color:white;
}

.Loged button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-weight: 700;
    margin: 2rem;
}

.Loged button:hover {
color: #ffffff;
background: #679b9b;
border-color: #679b9b;
transition: all 0.4s ease 0s;
}
